@import "eraser";
@import "fonts";
@import "foundation/foundation";

/* Common */
.row
{
    min-width: 320px;

    &.white_row
    {
        background: #fff;
    }
}

.clear
{
    clear: both;
}

p,
ul,
li,
a
{
    font-family: 'Open Sans', Arial, sans-serif;
}

p
{
    color: #333333;
    margin-bottom: 0.5rem;
    line-height: 1.75rem;

    &.medium
    {
        font-size: 1.125rem;
    }

    &.bigger
    {
        font-size: 1.375rem;
        line-height: 1.875rem;
    }

    &.big
    {
        font-size: 1.5rem;
        line-height: 1.875rem;
    }

    &.last
    {
        margin-bottom: 3.375rem;
    }
}

.indivisible_text
{
    display: inline-block;
}

.first_color
{
    color: #ef5a00;
}

.second_color
{
    color: #29b097;
}

.indivisible_block
{
    display: inline-block;
}

h1
{
    font-family: 'Pribambas', Arial, sans-serif;
    font-weight: normal;
    margin-bottom: 0;
    position: relative;
}

h2,
h3,
h4
{
    font-family: 'Open Sans Condensed', Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.button
{
    font-family: 'Roboto', Arial, sans-serif;

    &.red_with_white
    {
        background: #ef5a00;
        border-radius: 3px;

        &:hover
        {
            background: #d95201;
        }
    }

    &.green_with_white
    {
        background: #29b097;
        border-radius: 3px;

        &:hover
        {
            background: #1d9982;
        }
    }

    &.white_with_red
    {
        background: #fff;
        color: #ef5a00;
        border: 2px solid #ef5a00;
        border-radius: 6px;

        &:hover
        {
            background: #ef5a00;
            color: #fff;
        }
    }
}

.content_wrapper
{
    padding: 5rem 0 3.375rem;

    h2
    {
        color: #683c3c;
        margin-bottom: 2rem;
    }
}

.bottom_shadow
{
    height: 20px;
    background: url(../images/background/bottom_shadow.png) no-repeat top center;
    margin: 0 0.9375rem;
    background-size: cover;
}

.marked_list
{
    li
    {
        margin-bottom: 0.25rem;
    }

    &.last
    {
        margin-bottom: 3.375rem;
    }
}

.red_line
{
    height: 1px;
    width: 130px;
    background: #ef5a00;
}
/* End of common */

/* Additional layout */
.four_thin_columns
{
    font-size: 0;

    .thin_column
    {
        font-size: 1rem;
        width: 25%;
        display: inline-block;
        padding-right: 0.5rem;
        vertical-align: top;

        &.last
        {
            padding-right: 0;
        }
    }
}

.single_block
{
    margin-bottom: 0.75rem;
}
/* End of additional layout */

/* Header */
.header_wrapper
{
    padding: 1.625rem 0;
    position: relative;

    transition: 0.2s all;

    &.fixed_element
    {
        position: fixed;
        top: 0;
        background: #fff;
        width: 100%;
        z-index: 11;
    }

    &.shadow
    {
        border: none;
        box-shadow: 0 2px 4px rgba(0,0,0,.1),inset 0 -1px 1px rgba(255,255,255,.2);
        padding: 0.75rem 0 0.75rem;
    }
}

.topmenu_wrapper
{
    position: relative;
}

.logo_container
{
    position: absolute;
    top: 3px;
}

.phone_wrapper
{
    position: absolute;
    right: 0;

    p
    {
        font-size: 1rem;
        margin: 0;
        color: #48606c;
        font-style: italic;
        text-align: right;

        &.number
        {
            font-size: 1.5rem;
            font-family: 'Open Sans Condensed', Arial, sans-serif;
            font-weight: bold;
            font-style: normal;
            line-height: 1.875rem;
        }
    }

    .phone_container
    {
        display: inline-block;
        vertical-align: middle;
    }

    .image_container
    {
        @extend .phone_container;
        margin-left: 10px;
    }
}

.topmenu_container
{
    margin: 0 auto;
    text-align: center;

    .topmenu
    {
        margin: 1.375rem 0 1.5rem;

        li
        {
            list-style: none;
            display: inline-block;
        }

        .order_pass_link
        {
            text-transform: uppercase;
            font-size: 0.875rem;
            font-weight: bold;
            color: #ef5a00;
            margin-right: 3.375rem;
            padding-bottom: 3px;
            border-bottom: 2px solid #ef5a00;

            &:hover
            {
                border-bottom: 2px solid transparent;
            }
        }

        .order_call_link
        {
            @extend .order_pass_link;
            color: #29b097;
            border-bottom: 2px solid #29b097;
        }
    }
}

.menu_button_container
{
    float: right;
    margin: 0;
    display: none;

    p.menu_text
    {
        text-align: center;
        color: #48606c;
        text-transform: uppercase;
        display: none;
        font-style: normal;
    }
}
/* End of header */

/* Hamburger button */
.lightgray_menu_button
{
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 28px;
    height: 36px;
    font-size: 0;
    text-indent: -9999px;
    appearance: none;
    box-shadow: none;
    border-radius: 0;
    border: none;
    cursor: pointer;

    &:focus
    {
        outline: none;
    }
}

.lightgray_menu_button span {
    display: block;
    position: absolute;
    top: 12px;
    left: 0;
    right: 0;
    height: 3px;
    background: #48606c;
    transition: background 0s 0.3s;
}

.lightgray_menu_button span::before,
.lightgray_menu_button span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #48606c;
    content: "";
}

.lightgray_menu_button span::before {
    top: -10px;
}

.lightgray_menu_button span::after {
    bottom: -10px;
}

.menu_button_to_x span::before,
.menu_button_to_x span::after {
    transition-duration: 0.2s, 0.2s;
    transition-delay: 0.2s, 0s;
}

.menu_button_to_x span::before {
    transition-property: top, transform, -webkit-transform;
    transition-property: top, transform;
}

.menu_button_to_x span::after {
    transition-property: bottom, transform, -webkit-transform;
    transition-property: bottom, transform;
}

.menu_button_container.is-active
{
    .menu_button_to_x span {
        background: none;
    }

    .menu_button_to_x span::before {
        top: 0;
        transform: rotate(45deg);
    }

    .menu_button_to_x span::after {
        bottom: 0;
        transform: rotate(-45deg);
    }

    .menu_button_to_x span::before,
    .menu_button_to_x span::after {
        transition-delay: 0s, 0.2s;
    }
}
/* End of hamburger button */

/* Banner */
.banner_wrapper
{
    padding-top: 14.5rem;
    padding-bottom: 11.25rem;
    background: url(../images/background/sunset.jpg) no-repeat;
    text-align: center;

    h1
    {
        color: #ef5a00;
        line-height: 3.25rem;
    }

    .button
    {
        text-transform: uppercase;
        padding: 1.1875rem 2.5rem;
        margin-right: 1.625rem;

        &.last
        {
            margin-right: 0;
        }
    }

    p
    {
        font-family: 'Pribambas', Arial, sans-serif;
        color: #462f08;

        &.place
        {
            font-size: 2.25rem;
            line-height: 2.75rem;
            margin-bottom: 0.5rem;
        }

        &.promo
        {
            font-size: 6.125rem;
            line-height: 7.5rem;
            margin-bottom: 0.25rem;
        }

        &.slogan
        {
            font-size: 2.25rem;
            margin-bottom: 12.5rem;
        }
    }
}
/* End of banner */

/* Organizer */
.organizer_wrapper
{
    padding: 1.75rem 0 1.375rem;
    background: #683c3c;

    .image_container
    {
        display: inline-block;
        vertical-align: middle;
        margin: 0 2.25rem;
    }

    .organizers_title
    {
        color: #fff;
        text-transform: uppercase;
        font-size: 0.9375rem;
        font-family: 'Roboto', Arial, sans-serif;
    }

    .organizers_name
    {
        color: #fff;
        text-transform: uppercase;
        font-size: 1.125rem;
        font-family: 'PT Sans', Arial, sans-serif;
        font-weight: 700;
    }
}
/* End of organizer */

/* Gallery */
.gallery_wrapper
{
    padding-bottom: 0;
}

.gallery
{
    font-size: 0;

    .image_container
    {
        display: inline-block;
        width: 25%;
        padding-right: 0.5rem;
        padding-bottom: 0.5rem;

        &.last
        {
            padding-right: 0;
        }
    }
}
/* End of gallery */

/* Education program */
.education_programs_wrapper
{
    background: url(../images/background/education_programs.jpg) no-repeat center bottom;
}

.education_programs_container
{
    h4
    {
        color: #181717;
        margin: 1.375rem 0 0.625rem;
    }

    .red_line
    {
        margin-bottom: 1.375rem;
    }

    p
    {
        line-height: 1.5rem;
        font-size: 14px;
        margin-right: 1rem;
    }
}
/* End of education program */

/* Carousel */
.carousel_wrapper
{
    background: #683c3c;
    padding: 0 85px;
    position: relative;

    .jcarousel
    {
        position: relative;
        overflow: hidden;
        width: 100%;

        ul
        {
            width: 20000em;
            position: relative;
            list-style: none;
            margin: 0;
            padding: 0;

            li
            {
                float: left;
                padding-right: 5px;
            }
        }
    }

    .left_button
    {
        display: block;
        height: 32px;
        width: 32px;
        background: url(../images/background/icon_sprites.png) no-repeat;
        position: absolute;
        top: 50%;
        left: 25px;
        margin-top: -16px;
    }

    .right_button
    {
        @extend .left_button;
        left: auto;
        right: 25px;
        background-position: -32px 0;
    }
}
/* End of carousel */

/* Camp goals */
.camp_goal
{
    padding-left: 4.5rem;
    padding-top: 10px;
    margin-bottom: 2rem;
    position: relative;

    p
    {
        font-size: 0.9375rem;
        line-height: 1.25rem;
    }

    .goal_icon
    {
        position: absolute;
        top: 10px;
        left: 0;
        width: 57px;
        height: 44px;
        background: url(../images/background/goal_icons.png) no-repeat;

        &.playground
        {
            background-position: 0 -44px;
            left: 14px;
        }

        &.beach
        {
            background-position: 0 -88px;
            left: 10px;
            top: 8px;
        }

        &.rooms
        {
            background-position: 0 -132px;
        }

        &.food
        {
            background-position: 0 -176px;
            left: 12px;
        }

        &.sail
        {
            background-position: 0 -220px;
            height: 52px;
            left: 10px;
            top: 0;
        }
    }
}
/* End of camp goals */

/* Before map */
.camp_logo_icon
{
    display: inline-block;
    vertical-align: middle;
    margin-right: 1.125rem;
}

.contacts_container
{
    display: inline-block;
    vertical-align: middle;

    p
    {
        margin: 0;
        font-weight: 600;

        &.phone
        {
            font-weight: 300;
        }
    }
}
/* End of before map */

/* Map */
.map_wrapper
{
    height: 24.75rem;
}

.map_overlay_wrapper
{
    position: absolute;
    z-index: 1;
    height: 0;
    width: 100%;

    .row
    {
        height: 0;
    }

    .map_overlay
    {
        float: right;
        background: rgba(45, 23, 18, 0.85);
        height: 24.75rem;
        padding: 30px 54px 62px;

        .cities_container
        {
            width: 285px;

            .icon_container
            {
                text-align: center;
                padding-bottom: 1.75rem;
                margin-bottom: 1.875rem;
                border-bottom: 1px solid #ef5a00;
            }

            .city_line
            {
                font-family: 'Open Sans Condensed', Arial, sans-serif;
                font-weight: bold;
                color: #f2e5c5;
                font-size: 1.125rem;
                text-transform: uppercase;
                margin-bottom: 1.25rem;
            }
        }
    }
}
/* End of map */

/* Order pass */
.order_block
{
    text-align: center;
    padding: 3.875rem 0;
    margin-top: 4.25rem;

    .icon_container
    {
        padding-bottom: 3.25rem;
        margin: 0 auto 1.625rem;
        width: 90%;
        max-width: 160px;
        border-bottom: 1px solid #b89c6e;
    }

    p
    {
        &.order_title
        {
            font-size: 1.875rem;
            line-height: 2.25rem;
            color: #181717;
            text-transform: uppercase;
            font-family: 'Open Sans Condensed', Arial, sans-serif;
            font-weight: bold;
        }
    }

    &.get_booklet
    {
        p
        {
            &.order_title
            {
                margin-bottom: 2.625rem;
            }
        }

        .button
        {
            padding: 1.25rem 1.625em;
            text-transform: uppercase;
            border-radius: 5px;
            font-size: 1rem;
        }
    }

    &.counter
    {
        p
        {
            font-family: 'Pribambas', Arial, sans-serif;
            font-weight: normal;

            &.order_title
            {
                color: #ef5a00;
            }

            &.date
            {
                color: #462f08;
                font-size: 2.25rem;
                margin-bottom: 2.75rem;
            }

            &.time_left
            {
                font-size: 1.125rem;
                font-family: 'Open Sans Condensed', Arial, sans-serif;
                font-weight: bold;
                text-transform: uppercase;
                margin-bottom: 1rem;
            }
        }

        .counter_container
        {
            text-align: center;
            font-size: 0;

            .counter_item
            {
                font-size: 1rem;
                display: inline-block;
                width: 33%;
                max-width: 90px;

                &.days,
                &.hours
                {
                    border-right: 1px solid #d2d2d2;
                }

                .number
                {
                    margin: 0;
                    font-family: 'Open Sans', Arial, sans-serif;
                    font-size: 1.75rem;
                    font-weight: 600;
                }

                .description
                {
                    font-family: 'Open Sans', Arial, sans-serif;
                    font-size: 0.9375rem;
                }
            }
        }
    }
}

.order_pass_wrapper
{
    border: 1px solid #efefef;
    box-shadow: 0 1px 7px rgba(35,31,32,0.15);
    margin-top: 0;
    margin-bottom: 60px;

    .icon_container
    {
        padding-bottom: 2.25rem;
    }
}

.order_pass_form
{
    max-width: 19.75rem;
    margin: 2rem auto 0;
    z-index: 10;
    position: relative;

    input
    {
        border: 1px solid #bcbcbc;
        border-radius: 3px;
        margin-bottom: 19px;
        padding-left: 2.375rem;
        font-size: 1.0625rem;
        color: #989898;
        background-color: #fff;

        &:focus
        {
            border: 1px solid #ada8a8;
            box-shadow: none;
        }

        &.error
        {
            border: 1px solid #d97363;
        }
    }

    .button
    {
        margin-top: 1.375rem;
        margin-bottom: 0;
        padding: 1.25rem 1.625em;
        outline: none;
        text-transform: uppercase;
        border-radius: 5px;
        font-size: 1rem;
    }

    input[type=submit]
    {
        font-family: 'Roboto', Arial, sans-serif;
        margin-top: 1.375rem;
        margin-bottom: 0;
        padding: 1.25rem 1.625em;
        outline: none;
        text-transform: uppercase;
        border-radius: 5px;
        font-size: 1rem;
        background: #ef5a00;
        color: #fff;
        border: none;

        transition: 0.3s all;

        &:hover
        {
            background: #d95201;
        }
    }
}

.input_name
{
    background: url(../images/background/form_sprites.png) no-repeat 0 -1px;
}

.input_phone
{
    background: url(../images/background/form_sprites.png) no-repeat 0 -77px;
}

.input_mail
{
    background: url(../images/background/form_sprites.png) no-repeat 0 -39px;
}
/* End of order pass */

/* Recalls */
.recalls_wrapper
{
    background: url(../images/background/recalls.jpg) no-repeat center bottom;

    .recalls_container
    {
        text-align: center;

        h2
        {
            margin-bottom: 4rem;
        }

        .parent_photo
        {
            margin-bottom: 3rem;
            border-radius: 50%;
        }

        p
        {
            color: #111216;
            text-align: left;
            font-size: 0.875rem;
            line-height: 1.5rem;

            &.recall
            {
                margin-bottom: 1.5rem;
            }

            &.name
            {
                font-weight: bold;
            }
        }
    }
}
/* End of recalls */

/* Cost */
.cost_wrapper
{
    text-align: center;

    h2
    {
        margin-bottom: 0.75rem;
    }

    p
    {
        &.subtitle
        {
            color: #683c3c;
            font-size: 2.25rem;
            font-family: 'Pribambas', Arial, sans-serif;
            margin-bottom: 3rem;
        }
    }

    .cost_container
    {
        font-size: 0;

        .cost_item
        {
            font-size: 1rem;
            display: inline-block;
            width: 33.3%;
            padding: 3.375rem 3.5% 1.5rem;
            box-shadow: 0 1px 7px rgba(35,31,32,0.15);
            border-radius: 4px;
            vertical-align: top;
            text-align: left;

            .purchase_condition
            {
                font-size: 1.5rem;
                text-transform: uppercase;
                font-family: 'Open Sans Condensed', Arial, sans-serif;
            }

            .purchase_period
            {
                @extend .purchase_condition;
                font-size: 2.25rem;
                padding-bottom: 1.75rem;
                margin-bottom: 1.75rem;
            }

            .result_cost
            {
                font-size: 1.3125rem;
                margin: 0;

                .price
                {
                    font-weight: 600;
                }
            }

            .result_goal
            {
                font-size: 1.0625rem;
                margin-right: 2rem;
                margin-bottom: 1.125rem;
                padding-bottom: 1.5rem;

                &.with_line
                {
                    border-bottom: 1px solid #f0eeee;
                }
            }

            &.first
            {
                margin-top: 1.5rem;
                border-top: 5px solid #29b097;
                margin-right: 1%;
                width: 32.3%;

                .purchase_condition
                {
                    color: #29b097;
                }

                .purchase_period
                {
                    border-bottom: 1px solid #29b097;
                }
            }

            &.second
            {
                border-top: 8px solid #683c3c;
                padding-bottom: 3rem;

                .purchase_condition
                {
                    margin-top: 0.8125rem;
                    color: #683c3c;
                }

                .purchase_period
                {
                    border-bottom: 1px solid #683c3c;
                }
            }

            &.third
            {
                margin-top: 1.5rem;
                border-top: 5px solid #ef5a00;
                margin-left: 1%;
                width: 32.3%;

                .purchase_condition
                {
                    color: #ef5a00;
                }

                .purchase_period
                {
                    border-bottom: 1px solid #ef5a00;
                }
            }
        }
    }
}
/* End of cost */

/* Credit */
.credit_wrapper
{
    padding-top: 0;
    text-align: center;

    h2
    {
        font-size: 30px;
        margin-bottom: 0.3125rem;
    }

    .subtitle
    {
        margin-bottom: 3.3125rem;
    }

    .number
    {
        float: left;
        height: 43px;
        width: 43px;
        background: #ef5a00;
        border-radius: 50%;

        color: #fff;
        font-size: 1.5rem;
        line-height: 43px;
    }

    .step_description
    {
        margin-left: 60px;
        text-align: left;
        margin-top: 0.25rem;

        p
        {
            color: #404040;
            font-size: 0.875rem;
            line-height: 1.375rem;

            &.title
            {
                font-size: 1.4375rem;
            }
        }
    }
}
/* End of credit */

/* Payment ways */
.payment_ways_wrapper
{
    padding-top: 2rem;
    text-align: center;
    padding-bottom: 15.625rem;

    .payment_container
    {
        border: 1px solid #efefef;
        box-shadow: 0 1px 7px rgba(35,31,32,0.15);
        border-radius: 5px;
        background: #fff;
        padding: 1.5rem 0;
        text-align: left;
        margin-bottom: 0.5rem;

        h2
        {
            font-size: 1.875rem;
            margin-bottom: 0.25rem;
        }

        p
        {
            font-size: 14px;
            line-height: 1.25rem;
            color: #404040;
            margin-bottom: 1.75rem;

            &.small_indent
            {
                margin-bottom: 0.25rem;
            }
        }

        .additional_phone
        {
            margin-left: 30px;
        }

        .description
        {
            border-left: 1px solid #d2d2d2;
            padding-left: 2rem;
            margin-top: 2.5rem;

            p
            {
                line-height: 1.5rem;
                margin: 0;
            }
        }

        .button
        {
            margin-top: 0.75rem;
            font-size: 1rem;
            padding: 0.85rem 1.5rem;
        }

        .payanyway_logo
        {
            text-align: center;
            padding: 4rem 1% 0;
        }

        .isphera_logo
        {
            text-align: center;
            padding: 6rem 1% 0;
        }
    }
}
/* End of payment ways */

/* Order call */
.order_call_wrapper
{
    h3
    {
        color: #683c3c;
    }

    text-align: center;
    padding: 3rem 1rem 3rem;
    outline: none;
    border: none;
    border-radius: 5px;
}
/* End of order call */

/* Large screen only */
@media screen and (min-width: 64rem)
{
    .three_columns
    {
        width: 33.3%;
    }
}

/* Tablets */
@media screen and (max-width: 64rem)
{
    /* Common */
    h1
    {
        line-height: 7.75rem;
    }

    .content_wrapper
    {
        padding: 2.5rem 0;
    }

    p
    {
        &.medium
        {
            font-size: 1.125rem;
        }

        &.bigger
        {
            font-size: 1.25rem;
        }

        &.big
        {
            font-size: 1.375rem;
        }
    }

    /* Header */
    .logo_container
    {
        border-right: none;
    }

    .logo_description
    {
        display: none;
    }

    /* Topmenu */
    .phone_wrapper
    {
        position: static;
        float: right;
        margin: 0;

        .image_container
        {
            display: none;
        }
    }

    .logo_container
    {
        margin-top: 3px;
        position: static;
        float: left;
    }

    .topmenu_container
    {
        display: none;
        position: fixed;
        height: 100%;
        width: 100%;
        background: #fff;
        top: 82px;
        padding: 0;
        z-index: -1;
        left: -0.9375rem;
        right: -0.9375rem;

        ul.topmenu
        {
            width: 100%;
            padding: 0;

            li
            {
                display: block;

                .order_pass_link
                {
                    display: block;
                    text-align: center;
                    border: none;
                    margin: 0;
                    padding: 1rem 0;

                    &:hover
                    {
                        background: #f1f1f1;
                        border: none;
                    }
                }
            }
        }
    }

    .menu_button_container
    {
        display: block;
        margin: 18px 12px 0 28px;
    }
    /* End of topmenu */

    /* Organizer */
    .organizer_wrapper
    {
        .image_container
        {
            margin: 0 2.25rem 1rem 0;
        }

        .organizers_title
        {
            display: block;
            margin-bottom: 1rem;
        }
    }
    /* End of organizer */

    /* Banner */
    .banner_wrapper
    {
        padding-bottom: 6.25rem;

        p
        {

            &.place
            {
                font-size: 2.25rem;
                line-height: 2.75rem;
            }

            &.promo
            {
                font-size: 4.5rem;
                line-height: 4.5rem;
                margin-bottom: 0.75rem;
            }

            &.slogan
            {
                margin-bottom: 4.5rem;
            }
        }
    }
    /* End of banner */

    /* Education programs */
    .education_programs_wrapper
    {
        background: #d3d3d3;
    }
    /* End of education programs */

    /* Map */
    .map_overlay_wrapper
    {
        .map_overlay
        {
            padding: 30px 20px 62px;
        }
    }
    /* End of map */

    /* Order pass */
    .recalls_wrapper
    {
        background: #d3d3d3;
    }

    .order_block
    {
        margin-top: 0;

        .icon_container
        {
            padding-bottom: 3.25rem;
            margin: 0 auto 1.625rem;
            width: 90%;
            max-width: 160px;
            border-bottom: 1px solid #b89c6e;
        }

        p
        {
            &.order_title
            {
                font-size: 1.875rem;
                line-height: 2.25rem;
                color: #181717;
                text-transform: uppercase;
                font-family: 'Open Sans Condensed', Arial, sans-serif;
                font-weight: bold;
            }
        }

        &.get_booklet
        {
            p
            {
                &.order_title
                {
                    margin-bottom: 2.625rem;
                }
            }

            .button
            {
                padding: 1.25rem 1.625em;
                text-transform: uppercase;
                border-radius: 5px;
                font-size: 1rem;
            }
        }

        &.counter
        {
            p
            {
                font-family: 'Pribambas', Arial, sans-serif;
                font-weight: normal;

                &.order_title
                {
                    color: #ef5a00;
                }

                &.date
                {
                    color: #462f08;
                    font-size: 2.25rem;
                    margin-bottom: 2.75rem;
                }

                &.time_left
                {
                    font-size: 1.125rem;
                    font-family: 'Open Sans Condensed', Arial, sans-serif;
                    font-weight: bold;
                    text-transform: uppercase;
                    margin-bottom: 1rem;
                }
            }

            .counter_container
            {
                text-align: center;
                font-size: 0;

                .counter_item
                {
                    font-size: 1rem;
                    display: inline-block;
                    width: 33%;
                    max-width: 90px;

                    &.days,
                    &.hours
                    {
                        border-right: 1px solid #d2d2d2;
                    }

                    .number
                    {
                        margin: 0;
                        font-family: 'Open Sans', Arial, sans-serif;
                        font-size: 1.75rem;
                        font-weight: 600;
                    }

                    .description
                    {
                        font-family: 'Open Sans', Arial, sans-serif;
                        font-size: 0.9375rem;
                    }
                }
            }
        }
    }

    .order_pass_wrapper
    {
        margin-bottom: 0;

        .icon_container
        {
            padding-bottom: 2.25rem;
        }
    }
    /* End of order pass */

    /* Recalls */
    .recalls_wrapper
    {
        .recalls_container
        {
            border-bottom: 1px solid #d3d3d3;

            .parents_single_recall
            {
                margin-bottom: 3rem;

                .parent_photo
                {
                    margin-bottom: 2rem;
                }
            }
        }
    }
    /* End of recalls */

    /* Cost */
    .cost_wrapper
    {
        .cost_container
        {
            .cost_item
            {
                .purchase_period
                {
                    font-size: 2rem;
                    line-height: 2.125rem;
                }

                .result_goal
                {
                    font-size: 1rem;
                }
            }
        }
    }
    /* End of cost */

    /* Steps */
    .credit_wrapper
    {
        border-bottom: 1px solid #d3d3d3;
        padding: 2.5rem 0 0;
    }

    .step_container
    {
        margin-bottom: 1rem;
    }
    /* End of steps */

    /* Payment ways */
    .payment_ways_wrapper
    {
        .payment_container
        {
            .description
            {
                border: none;
                padding-right: 2rem;
                margin-top: 2.5rem;
            }
        }
    }
    /* End of payment ways */
}

/* Small devices */
@media screen and (max-width: 40rem)
{
    /* Additional layout */
    .four_thin_columns
    {
        .thin_column
        {
            width: 90%;
            margin: 0 5% 3rem;
            display: inline-block;
            padding: 0;
        }
    }

    .single_block
    {
        margin-bottom: 0.75rem;
    }
    /* End of additional layout */

    h1
    {
        line-height: 5.25rem;
    }

    p
    {
        &.medium
        {
            font-size: 1rem;
        }

        &.bigger
        {
            font-size: 1.0625rem;
        }

        &.big
        {
            font-size: 1.125rem;
        }
    }

    /* Map */
    .map_wrapper
    {
        height: 20rem;
    }

    .map_overlay_wrapper
    {
        display: none;
    }
    /* End of map */

    /* Order */
    .order_pass_wrapper
    {
        padding-bottom: 5rem;
    }

    /* Gallery */
    .gallery
    {
        .image_container
        {
            width: 50%;
            padding: 0 0.5rem 1rem;

            &.last
            {
                padding-right: 0.5rem;
            }
        }
    }
    /* End of gallery */

    /* Banner */
    .banner_wrapper
    {
        padding-bottom: 3.25rem;

        .button
        {
            margin-right: 0;
        }

        p
        {

            &.place
            {
                font-size: 1.5rem;
                line-height: 2rem;
                margin-bottom: 1rem;
            }

            &.promo
            {
                font-size: 3.5rem;
                line-height: 3.5rem;
                margin-bottom: 1.75rem;
            }

            &.slogan
            {
                font-size: 2rem;
                line-height: 2.25rem;
                margin-bottom: 4.5rem;
            }
        }
    }
    /* End of banner */

    /* Before map */
    .camp_logo_icon
    {
        display: none;
    }
    /* End of before map */

    /* Cost */
    .cost_wrapper
    {
        p
        {
            &.subtitle
            {
                font-size: 1.5rem;
            }
        }

        .cost_container
        {
            .cost_item
            {
                font-size: 1rem;
                display: inline-block;
                width: 90%;
                margin: 0 5% 1.5rem;
                padding: 3.375rem 3.5% 1.5rem;

                &.first
                {
                    width: 90%;
                    margin: 0 5% 1.5rem;
                }

                &.second
                {
                    border-top: 8px solid #683c3c;
                    padding: 3.375rem 3.5% 1.5rem;
                }

                &.third
                {
                    width: 90%;
                    margin: 0 5% 1.5rem;
                }
            }
        }
    }
    /* End of cost */

    /* Payment ways */
    .payment_ways_wrapper
    {
        .payment_container
        {
            .payanyway_logo,
            .isphera_logo
            {
                padding-top: 2rem;
            }

            .payment_place
            {
                padding-left: 2rem;
                margin-top: 2.5rem;
            }

            .button
            {
                margin: 0;
            }

            p
            {
                margin-bottom: 1rem;
            }
        }
    }
    /* End of payment ways */
}

/* Adaptive header */
@media screen and (max-width: 28em)
{
    .logo_wrapper
    {
        width: 100%;
        margin-bottom: 1.5rem;
        text-align: center;
    }

    .phone_wrapper
    {
        width: 100%;
        text-align: center;
    }

    .phone_wrapper
    {
        float: none;
    }
}

/* Adaptive topmenu */
@media screen and (min-width: 64rem)
{
    .topmenu_container
    {
        display: block !important;
        position: relative;
    }
}

@media screen and (max-width: 40rem)
{
    .header_wrapper
    {
        &.fixed_element
        {
            padding: 0.75rem 0 0;
        }
    }

    .topmenu_container
    {
        top: 151px;
    }

    .phone_wrapper
    {
        float: none;

        .phone_container
        {
            display: block;
            margin-bottom: 0.75rem;

            p
            {
                display: none;

                &.number
                {
                    display: block;
                    text-align: center;
                    font-size: 1.125rem;
                }
            }
        }

        .image_container
        {
            display: none;
        }
    }

    .logo_container
    {
        margin: 0 0 1rem;
        float: none;
        text-align: center;
    }

    .menu_button_container
    {
        margin: 0;
        float: none;
        cursor: pointer;
        padding: 0.5rem 0;
        border-top: 1px solid #e5e5e5;

        &.is-active
        {
            border-bottom: 1px solid #e5e5e5;
        }

        .lightgray_menu_button
        {
            display: none;
        }

        p.menu_text
        {
            display: block;
        }
    }
}
/* End of adaptive menu */